html, body{
    height: auto;
    width: auto;
}
#background-blob {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(194,18,146);
    background: linear-gradient(216deg, rgba(194,18,146,1) 0%, rgba(113,29,176,1) 100%);
    border-radius: 51% 49% 70% 30% / 33% 46% 54% 67%;
  }
  
  #all-inputs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}
.timeTable{
    color: white;
    border: 1px solid white;
    text-align: center;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-top: 3%;
}

#stop{
    width: 50%;
    margin-top: 3%;
}

#inputGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
}



.input::-webkit-inner-spin-button,
.input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }

.input {
    -moz-appearance: textfield;
    background-color: transparent;
    color: white;
    text-align: center;
    border-style: none;
    width:  10%;
    font-size: 2rem;
}

#timerHour{
    border-right: solid white 0.1cap;
}
#timerMin{
    border-left: solid white 0.1cap;
}


/* button code starts here */


/* all colors
    border: #252525
    button #333


*/

.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 30px;
    color: #E7BCDE;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #E7BCDE;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #fff;
    color: #333;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }